# Maven and Java
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Backend environment files
backend/.env

# Node dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production build
/build

# Miscellaneous
.DS_Store

# Ignore .env file contents but keep the file itself
.env/*
!/.env.example

# Ignore specific environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
