/* Global styles for the navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Ensures space between the logo and the search bar */
    padding: 10px 20px;
    background-color: transparent;
    position: absolute;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}

/* Container for the logo and text */
.navbar-logo-container {
    display: flex;
    align-items: center; /* Align the text and logo horizontally */
    cursor: pointer;
    margin-left: 20px; /* Adjust to push content more towards the left */
}

/* Logo text styles with a bold serif font (similar to Letterboxd) */
.navbar-logo {
    font-family: 'Merriweather', serif; /* Using a similar bold serif font */
    font-size: 2.2em; /* Adjust text size for prominence */
    font-weight: 700; /* Bold weight for the logo */
    margin-right: 10px; /* Space between the text and logo */
    color: #FFFFFF; /* White color for the text */
    text-transform: uppercase; /* Capitalize the logo text */
    letter-spacing: 1.5px; /* Slight letter spacing for a sophisticated look */
    margin-left: 100px;
}

/* Logo image styles */
.navbar-logo-img {
    width: 40px; /* Adjust the width of the logo */
    height: auto; /* Keep aspect ratio intact */
}

/* Styles for the search bar container */
.navbar-search-container {
    display: flex;
    align-items: center;
    margin-right: 100px; /* Adjust the right margin to control the spacing */
}

/* Styles for the search input */
.search-input {
    padding: 3px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 200px;
    transition: width 0.3s ease-in-out;
}

/* When the search bar is focused, it expands */
.search-input:focus {
    outline: none;
    width: 300px;
}
