/* index.css */

/* Remove the @import for Montserrat and any universal font-family rules */

/* Your other global styles */
:root {
  --primary-color: #121212;
  --secondary-color: #121212;
  --text-color: #FFFFFF;
  --accent-color: #F5F5F5;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Apply Graphik font family */
  font-family: 'Graphik', sans-serif;
}

/* Headings and titles use Tiempos Headings font family */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Tiempos Headings', serif;
}

/* Specific styling for other text */
p, ul, li, span {
  font-family: 'Graphik', sans-serif;
}
